body {}

/* img {
    height: 500px;
    width: 450px;
    border-radius: 50px;
} */

img[src^="../images/"] {
    height: 500px;
    width: 450px;
    border-radius: 50px;
}

h1 {
    color: red;
}

.title0:hover {
    color: yellow;
}

.title1 {
    color: blueviolet;
}

#Contact-Us {
    color: aqua;
}

li:first-child {
    color: brown;
}

li:last-child {
    color: green;
}

li:nth-child(3) {
    color: violet;
}

li:only-child {
    color: red;
}

/* #google-link:link {
    color: red;
}

#google-link:visited {
    color: blue;
} */

h2+a {
    color: red;
}

textarea~button {
    color: red;
}