.conference {
    text-align: center;
    width: fit-content;
}

p {
    font-size: medium;
}

h1:hover {
    color: aqua;
}

h2:hover {
    color: aquamarine;
}

h3 {
    color: royalblue;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

.events {
    display: flex;
    justify-content: center;
}

.event {
    padding: 30px;
    border: 1px solid black;
    margin-right: 10px;
    width: 250px;
    background-color: turquoise;
}

.copyright {
    background-color: turquoise;
    color: white;
}

.inner-copyright {
    color: gold;
}