
.classic{
    width: 200px;
    height: 200px;
    background: turquoise;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.classic-1{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border: 20px solid whitesmoke;
    display: flex;
    align-items:center;
    justify-content: center;
}
